{% extends "layout.html" %}

{% block body %}
  <h3>Sovellukseen lisätyt ehdotukset</h3>
    <table>
        <tr align="left">
            <th>Ehdotuksen nimi</th>
            <th>Aika</th>
            <th>Paikka</th>
            <th>Toteutuuko</th>
        </tr>
        <ul>
            {% for error in form.name.errors %}
                <li>{{ error }}</li>
            {% endfor %}
            {% for error in form.when.errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% for s in sugg %}
            <tr align="left">
                <td>{{s.name}}</td>
                <td>{{s.when}}</td>
                <td>{{s.location}}</td>
                <td>{{s.success}}</td>
                <td>
                    <form method="POST" action="{{ url_for('suggestion_vote', suggId = s.id)}}">
                        <input type="submit" value="Anna ääni">
                    </form>
                </td>
                {% if(current_user.id == s.account_id) %}
                    <td>
                        <form method="POST" action="{{ url_for('suggestion_remove', suggId = s.id)}}">
                            <input type="submit" value="Poista ehdotus">
                        </form>
                    </td>
                    <td>
                        <form method="GET" action="{{ url_for('suggestion_edit', suggId = s.id)}}">
                            <input type="submit" value="Muokkaa ehdotusta">
                        </form>
                    </td>
                {% endif %}
            </tr> 
        {% endfor %}
    </table>
{% endblock %}